<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel = "none" >
  <test name="Smoke Test Cases">
    <classes>
      <class name="Testng.Simple_Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
